p class='text-primary' Good morning
p class='text-success' Good morning
p class='text-warning' Good morning
p class='text-info' Good morning
p class='text-danger' Good morning
p class='text-muted' Good morning
button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="Tooltip on right" Tooltip on right
